{{ define "main" }}
<div class="index-outer">
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <div class="index-logo"><img src="/logo.png" width="150" height="150"></div>
        <div class="index-inner">
            <p class="index-title">{{ .Site.Title }}<span class="index-dot">.</span><span class="anchor">//</span></p>
            <p class="index-date">{{ .Site.Params.dates }}</p>
            <p class="index-location"><a href="{{ .Site.Params.venueLink }}">{{ .Site.Params.venue }}</a>, {{ .Site.Params.location }}</p>
            <p class="index-mailing-list"><a class="btn btn-primary btn-lg px-4" href="{{ .Site.Params.signUpLink }}">Apply to this workshop</a></p>
        </div>
        <div class="index-more col-lg-8 mx-auto"><a href="#about">&darr;</a></div>
    </div>
</div>
{{range where .Site.Pages "Type" "=" "front"}} 
<div class="col-lg-8 mx-auto p-3 py-md-5">
    {{ .Content }} 
</div>
{{ end }}
{{ end }}
